<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cvchecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <cvchecker.Properties.Settings>
            <setting name="remoteUrl" serializeAs="String">
                <value>http://10.1.59.91/cq/static</value>
            </setting>
            <setting name="localUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="checkMode" serializeAs="String">
                <value>检查所有的文件</value>
            </setting>
        </cvchecker.Properties.Settings>
    </userSettings>
</configuration>